<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <ul style="list-style-type: none">
      <li><a class="sidebar-nav-item" href="/">Home</a></li>
      <li><a class="sidebar-nav-item">Intro</a></li>
      <ul style="list-style-type: none">
        <li><a class="sidebar-nav-item" href="/intro/walter.html">Walter</a></li>
        <li><a class="sidebar-nav-item" href="/intro/walter_server_and_agent.html">Walter Server and Agent</a></li>
      </ul>
      <li><a class="sidebar-nav-item">Getting Started</a></li>
      <ul style="list-style-type: none">
        <li><a class="sidebar-nav-item" href="/started/walter.html">Walter</a></li>
        <li><a class="sidebar-nav-item" href="/started/walter_server_and_agent.html">Walter Server and Agent</a></li>
      </ul>
      <li><a class="sidebar-nav-item">Docs</a></li>
      <ul style="list-style-type: none">
        <li><a class="sidebar-nav-item" href="/docs/walter.html">Walter</a></li>
        <li><a class="sidebar-nav-item" href="/docs/walter_server_and_agent.html">Walter Server and Agent</a></li>
      </ul>

      <li><a class="sidebar-nav-item" href="/download.html">Download</a></li>
      <li><a class="sidebar-nav-item" href="">Demo</a></li>

      <li><a class="sidebar-nav-item" href="https://github.com/walter-cd">GitHub project</a></li>
    </ul>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
